# SPDX-License-Identifier: Apache-2.0
tags
config.override.mk
make.log
cscope.*
*~
**/_build/*
# generate protos
common/protos
internal/protos
coverage.out
# golang-support branch
ecc_go/ecc_go
ecc_go/private.pem
ecc_go/public.pem
samples/deployment/test-network/fabric-samples/
